docs/n8n-workflow-referencia.json
{
  "name": "agente_gojulito",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -272,
        48
      ],
      "id": "f722c98a-81d0-4f9a-817c-220237eff751",
      "name": "Telegram Trigger",
      "webhookId": "9480f043-af95-41f5-ab54-939df0af42b1",
      "credentials": {
        "telegramApi": {
          "id": "QTEDuD7XBXTLIZrY",
          "name": "gojulito_bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Responderás a esto:\n{{ $json.message.text }}  {{ $json.text }}\n\n{{ $now.format('yyyy-MM-dd') }}",
        "options": {
          "systemMessage": "=IDENTIDAD\nSos Alfred, el asistente operativo de GoJulito. Trabajas exclusivamente para Julio Correa, que gestiona tramites de visa de multiples paises (Estados Unidos, Alemania, Irlanda, Japon, y otros que se agreguen) y seminarios de viaje.\n\nTu funcion es ser la memoria operativa del negocio: consultas datos reales, registras operaciones con confirmacion, y generas resumenes claros. No inventas datos. Si no encontras algo en la base de datos, lo decis.\n\nDIRECTIVAS OPERATIVAS\n1. Nunca inventes IDs, nombres ni estados. Siempre consulta la base de datos primero.\n2. Antes de crear o modificar cualquier dato, confirma con Julio lo que vas a hacer.\n3. Si Julio menciona un cliente por nombre, buscalo primero con buscar_cliente antes de cualquier otra accion.\n4. Para cambiar el estado de una visa, primero busca al cliente, obtene el visa_id, y recien entonces actualiza.\n5. Siempre responde en espanol, de forma concisa y directa.\n6. Nunca menciones credenciales del portal consular ni contrasenas.\n7. Nunca uses IDs inventados o asumidos.\n8. Antes de crear una visa, SIEMPRE pregunta a Julio de que pais es el tramite si no lo menciona. Si dudas de los paises disponibles, usa consultar_paises.\n\nFLUJO DE CONFIRMACION\nAnte operaciones de escritura (crear, registrar, cambiar estado, pagar cuota):\n1. Mostra un resumen de lo que vas a hacer\n2. Pedi confirmacion: \"Confirmo?\"\n3. Solo ejecuta despues de recibir \"si\", \"dale\", \"confirma\" o equivalente\n\nESTADOS VALIDOS\n- Cliente: PROSPECTO | ACTIVO | FINALIZADO | INACTIVO\n- Visa: EN_PROCESO | TURNO_ASIGNADO | APROBADA | RECHAZADA | PAUSADA | CANCELADA\n- Pago: PAGADO | DEUDA | PENDIENTE | FINANCIADO\n- Cuota: PAGADO | PENDIENTE | VENCIDO\n- Financiamiento: ACTIVO | COMPLETADO | CANCELADO\n\nFORMATO DE RESPUESTA\n- Sin markdown, sin asteriscos, sin listas largas\n- Respuestas cortas por defecto\n- Para resumenes: usar emojis simples como separadores visuales\n- Fechas siempre en formato DD/MM/YYYY\n- Montos siempre con $ y formato argentino\n\nHERRAMIENTAS DISPONIBLES Y CUANDO USARLAS\n\nresumen_operativo → Resumen del dia, metricas, turnos de la semana, deudas proximas\nbuscar_cliente → SIEMPRE antes de cualquier operacion sobre un cliente\ncrear_cliente → Registrar un cliente nuevo\neditar_cliente → Cambiar estado, telefono, email u otros datos de un cliente existente\nbuscar_visa → Consultar tramite de visa de un cliente\ncrear_visa → Iniciar un nuevo tramite de visa para un cliente\nactualizar_visa → Cambiar estado de visa, cargar fecha de turno\nregistrar_pago → Registrar un cobro nuevo\nactualizar_pago → Saldar una deuda existente o cambiar estado de un pago\nconsultar_financiamiento → Ver financiamientos activos y estado de cuotas de un cliente\npagar_cuota → Registrar el pago de una cuota de financiamiento\nconsultar_seminarios → Ver seminarios activos, asistentes y recaudacion\nregistrar_asistente → Agregar una persona como asistente a un seminario\nconsultar_precios → Ver precios actuales de visa y seminario\nconsultar_paises → Ver los paises disponibles para tramitar visa (USA, DEU, IRL, JPN, etc.)\n\nSECUENCIA OBLIGATORIA PARA OPERACIONES\n1. Si mencionan un nombre → buscar_cliente primero\n2. Si necesitas el visa_id → viene del resultado de buscar_cliente (campo visas[0].visa_id)\n3. Si necesitas el cliente_id para un pago → viene del resultado de buscar_cliente (campo id)\n4. Si necesitas el gj_id → viene del resultado de buscar_cliente (campo gj_id)\n5. Para financiamientos → primero buscar_cliente para obtener gj_id, luego consultar_financiamiento\n6. Para seminarios → consultar_seminarios primero para obtener sem_id\n7. Nunca uses IDs inventados o asumidos\nPara crear una visa nueva → consultar_paises si no sabes el codigo; luego crear_visa con pais_codigo obligatorio."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1008,
        48
      ],
      "id": "eb81a346-87b1-4954-960b-2b3254f92d68",
      "name": "AI Agent1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output.replace(/\\*/g, '') }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1728,
        48
      ],
      "id": "a9f2cf0b-f34b-4244-aa02-09c739424740",
      "name": "Send a text message",
      "webhookId": "68cdaea1-471d-4d79-90c4-35fe7e10ec99",
      "credentials": {
        "telegramApi": {
          "id": "QTEDuD7XBXTLIZrY",
          "name": "gojulito_bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fe4dbc7a-2598-4522-90de-c54fd20a82f7",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -48,
        48
      ],
      "id": "7dc7546a-0f92-43a8-9053-c26b658de0e9",
      "name": "Switch2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        400,
        128
      ],
      "id": "7eab9dd7-e40c-4062-9e42-7fe8c867a500",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "seJXTko8yd3gGf7C",
          "name": "Gabi Caro"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        176,
        128
      ],
      "id": "c13b0768-2181-46fa-a48b-465064ba3bd3",
      "name": "Get a file",
      "webhookId": "a1e869d8-fd54-4998-a4dc-a23f0bec395a",
      "credentials": {
        "telegramApi": {
          "id": "QTEDuD7XBXTLIZrY",
          "name": "gojulito_bot"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        624,
        272
      ],
      "id": "992b8109-54f1-48cf-82c4-306f123000ea",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "d66cOabei9WEjysU",
          "name": "gojulito_test"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Busca un cliente por nombre, teléfono o gj_id. Usar cuando Julio mencione un cliente por cualquier dato identificatorio.",
        "url": "https://gojulito.automatizacionestuc.online/api/webhook/clientes",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "nombre",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Nombre o parte del nombre del cliente a buscar`, 'string') }}"
            },
            {
              "name": "telefono",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Número de teléfono del cliente`, 'string') }}"
            },
            {
              "name": "gj_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `ID legible del cliente, formato GJ-0001`, 'string') }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJiMTk0NzRlOS00OGJmLTQ2Y2EtODFiNi03ZjNjNDA3NjllZDAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzczNzY1OTY2fQ.F3-lBXxMJmYipy-XYizUMbdDn5C_-gORDBnpGyMBY_o"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        880,
        272
      ],
      "id": "784ec8c4-6992-42ea-bb62-e8cb495946dd",
      "name": "buscar_cliente"
    },
    {
      "parameters": {
        "toolDescription": "Crea un nuevo cliente en el sistema. Requiere nombre y teléfono mínimo.",
        "method": "POST",
        "url": "https://gojulito.automatizacionestuc.online/api/webhook/clientes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJiMTk0NzRlOS00OGJmLTQ2Y2EtODFiNi03ZjNjNDA3NjllZDAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzczNzY1OTY2fQ.F3-lBXxMJmYipy-XYizUMbdDn5C_-gORDBnpGyMBY_o"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nombre",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Nombre completo del cliente`, 'string') }}"
            },
            {
              "name": "telefono",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Numero de telefono del cliente`, 'string') }}"
            },
            {
              "name": "canal",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Canal de ingreso. Valores válidos: WHATSAPP | INSTAGRAM | SEMINARIO | REFERIDO | CHARLA | OTRO`, 'string') }}"
            },
            {
              "name": "estado",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Estado del cliente. Valores válidos: PROSPECTO | ACTIVO`, 'string') }}"
            },
            {
              "name": "observaciones",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Notas opcionales sobre el cliente`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1008,
        272
      ],
      "id": "d6bf47fa-e354-4f0a-90e1-6876e9ab99eb",
      "name": "crear_cliente"
    },
    {
      "parameters": {
        "toolDescription": "Busca el trámite de visa de un cliente por cliente_id o visa_id.",
        "url": "https://gojulito.automatizacionestuc.online/api/webhook/visas",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "cliente_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `UUID interno del cliente, obtenido del campo 'id' de buscar_cliente`, 'string') }}"
            },
            {
              "name": "visa_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `ID legible de la visa, formato VISA-0001`, 'string') }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJiMTk0NzRlOS00OGJmLTQ2Y2EtODFiNi03ZjNjNDA3NjllZDAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzczNzY1OTY2fQ.F3-lBXxMJmYipy-XYizUMbdDn5C_-gORDBnpGyMBY_o"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1136,
        272
      ],
      "id": "0e88bc8a-623a-47c2-9b59-74fd002b128c",
      "name": "buscar_visa"
    },
    {
      "parameters": {
        "toolDescription": "Actualiza el estado de una visa. Requiere visa_id legible (VISA-0001) y el nuevo estado.",
        "method": "PATCH",
        "url": "https://gojulito.automatizacionestuc.online/api/webhook/visas",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJiMTk0NzRlOS00OGJmLTQ2Y2EtODFiNi03ZjNjNDA3NjllZDAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzczNzY1OTY2fQ.F3-lBXxMJmYipy-XYizUMbdDn5C_-gORDBnpGyMBY_o"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "visa_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `ID legible de la visa a actualizar, formato VISA-0001`, 'string') }}"
            },
            {
              "name": "estado",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Nuevo estado. Valores válidos: EN_PROCESO | TURNO_ASIGNADO | APROBADA | RECHAZADA | PAUSADA | CANCELADA`, 'string') }}"
            },
            {
              "name": "fecha_turno",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Fecha del turno en formato YYYY-MM-DD. Solo si estado es TURNO_ASIGNADO`, 'string') }}"
            },
            {
              "name": "notas",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Notas opcionales sobre el trámite`, 'string') }}"
            },
            {
              "name": "fecha_vencimiento",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `YYYY-MM-DD, fecha de vencimiento de la visa`, 'string') }}"
            },
            {
              "name": "fecha_aprobacion",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `YYYY-MM-DD, solo si estado = APROBADA. Si no viene, el servidor usa hoy`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1264,
        272
      ],
      "id": "d4a8ad15-e0eb-4ed2-9e25-8223a2388ed4",
      "name": "actualizar_visa"
    },
    {
      "parameters": {
        "toolDescription": "Registra un pago para un cliente. Requiere cliente_id, tipo (VISA o SEMINARIO), monto, fecha y estado.",
        "method": "POST",
        "url": "https://gojulito.automatizacionestuc.online/api/webhook/pagos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJiMTk0NzRlOS00OGJmLTQ2Y2EtODFiNi03ZjNjNDA3NjllZDAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzczNzY1OTY2fQ.F3-lBXxMJmYipy-XYizUMbdDn5C_-gORDBnpGyMBY_o"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cliente_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `UUID interno del cliente, obtenido del campo 'id' de buscar_cliente`, 'string') }}"
            },
            {
              "name": "tipo",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Tipo de pago. Valores válidos: VISA | SEMINARIO`, 'string') }}"
            },
            {
              "name": "monto",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Monto en pesos, número entero sin símbolo`, 'string') }}"
            },
            {
              "name": "fecha_pago",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Fecha del pago en formato YYYY-MM-DD. Si no se especifica usar la fecha de hoy`, 'string') }}"
            },
            {
              "name": "estado",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Estado del pago. Valores válidos: PAGADO | DEUDA`, 'string') }}"
            },
            {
              "name": "visa_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `UUID interno de la visa, obtenido del campo 'visas[0].id' de buscar_cliente. Solo para pagos tipo VISA`, 'string') }}"
            },
            {
              "name": "notas",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', `Notas opcionales`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1392,
        272
      ],
      "id": "e068e49c-2b9c-4424-8c69-0c4714704eea",
      "name": "registrar_pago"
    },
    {
      "parameters": {
        "toolDescription": "Devuelve el resumen del negocio: métricas generales, turnos de la semana y deudas próximas. Usar para responder preguntas generales de estado del negocio.",
        "url": "https://gojulito.automatizacionestuc.online/api/webhook/resumen",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJiMTk0NzRlOS00OGJmLTQ2Y2EtODFiNi03ZjNjNDA3NjllZDAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzczNzY1OTY2fQ.F3-lBXxMJmYipy-XYizUMbdDn5C_-gORDBnpGyMBY_o"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1520,
        272
      ],
      "id": "9f1622ea-033e-4445-91c5-7defa793d772",
      "name": "resumen_operativo"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "tableName": "telegram_historial",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        752,
        272
      ],
      "id": "78036bca-e566-4495-a7d9-b8255c38d2af",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "CMXFQs4C0p2xTkc4",
          "name": "gojulitotestev1"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Inicia un nuevo trámite de visa para un cliente existente. Requiere gj_id del cliente (GJ-0001).",
        "method": "POST",
        "url": "https://gojulito.automatizacionestuc.online/api/webhook/visas",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJiMTk0NzRlOS00OGJmLTQ2Y2EtODFiNi03ZjNjNDA3NjllZDAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzczNzY1OTY2fQ.F3-lBXxMJmYipy-XYizUMbdDn5C_-gORDBnpGyMBY_o"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "gj_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `ID legible del cliente, formato GJ-0001`, 'string') }}"
            },
            {
              "name": "ds160",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Número de formulario DS-160 (opcional)`, 'string') }}"
            },
            {
              "name": "email_portal",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Email del portal consular (opcional)`, 'string') }}"
            },
            {
              "name": "notas",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Notas opcionales sobre el trámite`, 'string') }}"
            },
            {
              "name": "pais_codigo",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', 'Código ISO del país de la visa. Valores válidos: USA | DEU | IRL | JPN (o el que devuelva consultar_paises). OBLIGATORIO.', 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1648,
        272
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "crear_visa"
    },
    {
      "parameters": {
        "toolDescription": "Actualiza el estado de un pago existente (ej: saldar una deuda). Requiere pago_id legible (PAG-0001).",
        "method": "PATCH",
        "url": "https://gojulito.automatizacionestuc.online/api/webhook/pagos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJiMTk0NzRlOS00OGJmLTQ2Y2EtODFiNi03ZjNjNDA3NjllZDAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzczNzY1OTY2fQ.F3-lBXxMJmYipy-XYizUMbdDn5C_-gORDBnpGyMBY_o"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "pago_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `ID legible del pago a actualizar, formato PAG-0001`, 'string') }}"
            },
            {
              "name": "estado",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Nuevo estado del pago. Valores válidos: PAGADO | DEUDA | PENDIENTE`, 'string') }}"
            },
            {
              "name": "fecha_pago",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Fecha de pago en formato YYYY-MM-DD (opcional)`, 'string') }}"
            },
            {
              "name": "notas",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Notas opcionales`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1776,
        272
      ],
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "actualizar_pago"
    },
    {
      "parameters": {
        "toolDescription": "Edita datos de un cliente existente: estado, teléfono, email, DNI, observaciones, provincia o canal. Requiere gj_id.",
        "method": "PATCH",
        "url": "https://gojulito.automatizacionestuc.online/api/webhook/clientes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJiMTk0NzRlOS00OGJmLTQ2Y2EtODFiNi03ZjNjNDA3NjllZDAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzczNzY1OTY2fQ.F3-lBXxMJmYipy-XYizUMbdDn5C_-gORDBnpGyMBY_o"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "gj_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `ID legible del cliente, formato GJ-0001`, 'string') }}"
            },
            {
              "name": "estado",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Nuevo estado. Valores válidos: PROSPECTO | ACTIVO | FINALIZADO | INACTIVO`, 'string') }}"
            },
            {
              "name": "nombre",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Nombre completo del cliente (opcional)`, 'string') }}"
            },
            {
              "name": "telefono",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Número de teléfono (opcional)`, 'string') }}"
            },
            {
              "name": "email",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Email del cliente (opcional)`, 'string') }}"
            },
            {
              "name": "dni",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `DNI del cliente (opcional)`, 'string') }}"
            },
            {
              "name": "observaciones",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', `Notas u observaciones (opcional)`, 'string') }}"
            },
            {
              "name": "provincia",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `Provincia del cliente (opcional)`, 'string') }}"
            },
            {
              "name": "canal",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters8_Value', `Canal de ingreso. Valores válidos: WHATSAPP | INSTAGRAM | SEMINARIO | REFERIDO | CHARLA | OTRO (opcional)`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1904,
        272
      ],
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "editar_cliente"
    },
    {
      "parameters": {
        "toolDescription": "Consulta los financiamientos activos y estado de cuotas de un cliente. Requiere gj_id del cliente.",
        "url": "https://gojulito.automatizacionestuc.online/api/webhook/financiamientos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "gj_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `ID legible del cliente, formato GJ-0001`, 'string') }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJiMTk0NzRlOS00OGJmLTQ2Y2EtODFiNi03ZjNjNDA3NjllZDAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzczNzY1OTY2fQ.F3-lBXxMJmYipy-XYizUMbdDn5C_-gORDBnpGyMBY_o"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2032,
        272
      ],
      "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
      "name": "consultar_financiamiento"
    },
    {
      "parameters": {
        "toolDescription": "Registra el pago de una cuota de financiamiento. Requiere financiamiento_id, numero_cuota y estado.",
        "method": "PATCH",
        "url": "https://gojulito.automatizacionestuc.online/api/webhook/financiamientos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJiMTk0NzRlOS00OGJmLTQ2Y2EtODFiNi03ZjNjNDA3NjllZDAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzczNzY1OTY2fQ.F3-lBXxMJmYipy-XYizUMbdDn5C_-gORDBnpGyMBY_o"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "financiamiento_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `ID del financiamiento, obtenido de consultar_financiamiento (campo financiamiento_id)`, 'string') }}"
            },
            {
              "name": "numero_cuota",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Número de la cuota a actualizar (entero, ej: 1, 2, 3)`, 'number') }}"
            },
            {
              "name": "estado",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Estado de la cuota. Valores válidos: PAGADO | PENDIENTE | VENCIDO`, 'string') }}"
            },
            {
              "name": "fecha_pago",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Fecha de pago en formato YYYY-MM-DD. Si no se especifica y estado=PAGADO, usa la fecha de hoy`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2160,
        272
      ],
      "id": "e5f6a7b8-c9d0-1234-ef01-345678901234",
      "name": "pagar_cuota"
    },
    {
      "parameters": {
        "toolDescription": "Lista los seminarios activos con asistentes y recaudación. Opcionalmente filtra por sem_id para ver detalle de uno.",
        "url": "https://gojulito.automatizacionestuc.online/api/webhook/seminarios",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sem_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `ID del seminario, formato SEM-2026-01 (opcional, si se omite devuelve todos los activos)`, 'string') }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJiMTk0NzRlOS00OGJmLTQ2Y2EtODFiNi03ZjNjNDA3NjllZDAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzczNzY1OTY2fQ.F3-lBXxMJmYipy-XYizUMbdDn5C_-gORDBnpGyMBY_o"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2288,
        272
      ],
      "id": "f6a7b8c9-d0e1-2345-f012-456789012345",
      "name": "consultar_seminarios"
    },
    {
      "parameters": {
        "toolDescription": "Agrega una persona como asistente a un seminario. Requiere sem_id y nombre. gj_id vincula al cliente si ya existe en el sistema.",
        "method": "POST",
        "url": "https://gojulito.automatizacionestuc.online/api/webhook/seminarios",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJiMTk0NzRlOS00OGJmLTQ2Y2EtODFiNi03ZjNjNDA3NjllZDAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzczNzY1OTY2fQ.F3-lBXxMJmYipy-XYizUMbdDn5C_-gORDBnpGyMBY_o"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sem_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `ID del seminario, formato SEM-2026-01. Obtenerlo de consultar_seminarios`, 'string') }}"
            },
            {
              "name": "nombre",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Nombre completo del asistente`, 'string') }}"
            },
            {
              "name": "gj_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `ID del cliente si ya existe en el sistema, formato GJ-0001 (opcional)`, 'string') }}"
            },
            {
              "name": "telefono",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Teléfono del asistente (opcional)`, 'string') }}"
            },
            {
              "name": "provincia",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Provincia del asistente (opcional)`, 'string') }}"
            },
            {
              "name": "modalidad",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `Modalidad de asistencia. Valores válidos: PRESENCIAL | VIRTUAL (opcional)`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2416,
        272
      ],
      "id": "a7b8c9d0-e1f2-3456-0123-567890123456",
      "name": "registrar_asistente"
    },
    {
      "parameters": {
        "toolDescription": "Devuelve los precios actuales configurados en el sistema: precio_visa y precio_seminario.",
        "url": "https://gojulito.automatizacionestuc.online/api/webhook/configuracion",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJiMTk0NzRlOS00OGJmLTQ2Y2EtODFiNi03ZjNjNDA3NjllZDAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzczNzY1OTY2fQ.F3-lBXxMJmYipy-XYizUMbdDn5C_-gORDBnpGyMBY_o"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2544,
        272
      ],
      "id": "b8c9d0e1-f2a3-4567-1234-678901234567",
      "name": "consultar_precios"
    },
    {
      "parameters": {
        "toolDescription": "Devuelve la lista de países disponibles para tramitar visa, con su código ISO (USA, DEU, IRL, JPN, etc.), nombre y emoji. Usar SIEMPRE antes de crear una visa si Julio no especificó el país, o cuando pregunte qué países están disponibles.",
        "method": "GET",
        "url": "https://gojulito.automatizacionestuc.online/api/webhook/paises",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJiMTk0NzRlOS00OGJmLTQ2Y2EtODFiNi03ZjNjNDA3NjllZDAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzczNzY1OTY2fQ.F3-lBXxMJmYipy-XYizUMbdDn5C_-gORDBnpGyMBY_o"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2672,
        272
      ],
      "id": "c9d0e1f2-a3b4-5678-2345-789012345678",
      "name": "consultar_paises"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "buscar_cliente": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "crear_cliente": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "buscar_visa": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "actualizar_visa": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "registrar_pago": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "resumen_operativo": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "crear_visa": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "actualizar_pago": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "editar_cliente": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_financiamiento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "pagar_cuota": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_seminarios": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "registrar_asistente": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_precios": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_paises": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c71e3c0b-38cd-4fca-b8e8-0beb10e2740f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6af9cd62f5f297fdfae12c219c00a208aa9d4320581f83b92d5d11f0cd0cdc07"
  },
  "id": "74GUwIBOBnWrKKjU",
  "tags": []
}